$white:#FFFFFF;

$light-gray:#b2b2b2;

$ice-blue:#2795b6;
$gray-blue:#c6d0da;

$off-black:#232323;

@-webkit-viewport { width:device-width; }
   @-moz-viewport { width:device-width; }
    @-ms-viewport { width:device-width; }
     @-o-viewport { width:device-width; }
        @viewport { width:device-width; }