body {
	background:$light-gray;
}
  

#bump {height:80px;}

.next-section {
	position:fixed;
	display:block;
	width:60px; height:60px;
	bottom:10px; right:10px;
	border-radius:50%;
	background:$ice-blue;
	color:$white;
	z-index:1000;
	text-align: center;
	font-size:3.3em;
	
	
	&:before {
		content:'\00BB';
	}
	
	&:hover {
		background:$off-black;
	}

}

.full-width {
	width:100%;
	position:relative;
}

.section1 {
	background:$ice-blue;
}

.m {
	
	display:inline;
	
	@include sb-media(61em) {
		display:none;		
	}
	
}

.d {
	
	display:none;
	
	@include sb-media(61em) {
		display:inline;		
	}
	
}