.restaurant-nav {
	background:$off-black;
	color:$white;
	
	div {
		border:0.07em solid $off-black;
		padding:10px;
	}
}

.address { 
	p {
		margin-bottom:5px;
	}
}

.phone {	
	p {
		margin-bottom:5px;
	}
}

.facebook {	
	a { 
		color:$white;
	}
}

.menu {
	
	h5 {
		
	}
	
	h6 {
		
	}
	
	p{
		color:$off-black;
	}
	
}